doctype
html(lang="en")
  head
    meta(charset="utf-8")
    title CodeMirror test
    link(rel="stylesheet", type="text/css", href="/css/codemirror.css")
    link(rel="stylesheet", type="text/css", href!="/css/main-<!-- @echo VERSION -->.css")

    | <!-- @ifdef COMPILE -->
    script(src!="/js/src-<!-- @echo VERSION -->.js")
    | <!-- @endif -->

    | <!-- @ifndef COMPILE -->
    script(src!="/js/main-<!-- @echo VERSION -->.js")
    | <!-- @endif -->

  body
    #app